@model app.Models.ViewModels.Profile

@{
    Layout = "_IndexV2Layout";
}



@section sidebar{
    <div id="wt-sidebarwrapper" class="wt-sidebarwrapper">
        <div id="wt-btnmenutoggle" class="wt-btnmenutoggle">
            <span class="menu-icon">
                <em></em>
                <em></em>
                <em></em>
            </span>
        </div>
        <div id="wt-verticalscrollbar" class="wt-verticalscrollbar">
            <div class="wt-companysdetails wt-usersidebar">
                <figure class="wt-companysimg">
                    <img src="https://via.placeholder.com/260x150.png?text=@User.UserName()" alt="img description">
                </figure>
                <div class="wt-companysinfo">
                    <figure><img gravatar-email="@User.Email()" alt="img description" /></figure>
                    <div class="wt-title">
                        <h2><a href="javascript:void(0);"> @User.Email()</a></h2>
                        <span>@User.UserName()</span>
                    </div>
                    @*<div class="wt-btnarea"><a href="dashboard-postjob.html" class="wt-btn">Post a Job</a></div>*@
                </div>
            </div>
            <nav id="wt-navdashboard" class="wt-navdashboard">
                <ul>
                    <li class="menu-item-has-children">
                        <a href="javascript:void(0);">
                            <i class="ti-dashboard"></i>
                            <span>Insights</span>
                        </a>
                        <ul class="sub-menu">
                            <li><hr><a href="dashboard-insights.html">Insights</a></li>
                            <li><hr><a href="dashboard-insightsuser.html">Insights User</a></li>
                        </ul>
                    </li>
                    <li class="wt-active">
                        <a href="dashboard-profile.html">
                            <i class="ti-briefcase"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="javascript:void(0);">
                            <i class="ti-package"></i>
                            <span>All Jobs</span>
                        </a>
                        <ul class="sub-menu">
                            <li><hr><a href="dashboard-completejobs.html">Completed Jobs</a></li>
                            <li><hr><a href="dashboard-canceljobs.html">Cancelled Jobs</a></li>
                            <li><hr><a href="dashboard-ongoingjob.html">Ongoing Jobs</a></li>
                            <li><hr><a href="dashboard-ongoingsingle.html">Ongoing Single</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="dashboard-managejobs.html">
                            <i class="ti-announcement"></i>
                            <span>Manage Jobs</span>
                        </a>
                    </li>
                    <li class="wt-notificationicon menu-item-has-children">
                        <a href="javascript:void(0);">
                            <i class="ti-pencil-alt"></i>
                            <span>Messages</span>
                        </a>
                        <ul class="sub-menu">
                            <li><hr><a href="dashboard-messages.html">Messages</a></li>
                            <li><hr><a href="dashboard-messages2.html">Messages V 2</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="dashboard-saveitems.html">
                            <i class="ti-heart"></i>
                            <span>My Saved Items</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard-invocies.html">
                            <i class="ti-file"></i>
                            <span>Invoices</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard-category.html">
                            <i class="ti-layers"></i>
                            <span>Category</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard-packages.html">
                            <i class="ti-money"></i>
                            <span>Packages</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard-proposals.html">
                            <i class="ti-bookmark-alt"></i>
                            <span>Proposals</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard-accountsettings.html">
                            <i class="ti-anchor"></i>
                            <span>Account Settings</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard-helpsupport.html">
                            <i class="ti-tag"></i>
                            <span>Help &amp; Support</span>
                        </a>
                    </li>
                    <li>
                        <a href="index.html">
                            <i class="ti-shift-right"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="wt-navdashboard-footer">
                <span>Worktern. © 2019 All Rights Reserved.</span>
            </div>
        </div>
    </div>

}

<section class="wt-haslayout">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-9">
            <div class="wt-haslayout wt-dbsectionspace">


                <div class="wt-dashboardbox wt-dashboardtabsholder">
                    <div class="wt-dashboardboxtitle">
                        <h2>My Profile</h2>
                    </div>
                    <div class="wt-dashboardtabs">
                        <ul class="wt-tabstitle nav navbar-nav">
                            <li class="nav-item">
                                <a class="active" data-toggle="tab" href="#wt-skills">Personal Details &amp; Skills</a>
                            </li>
                            @if (User.IsServiceProvider())
                            {
                                <li class="nav-item"><a data-toggle="tab" href="#wt-education">Services Provided</a></li>
                            }


                        </ul>
                    </div>
                    <div class="wt-tabscontent tab-content">
                        <div class="wt-personalskillshold tab-pane active fade show" id="wt-skills">
                            <div class="wt-yourdetails wt-tabsinfo">
                                <div class="wt-tabscontenttitle">
                                    <h2>Your Details</h2>
                                </div>

                                <form class="wt-formtheme wt-userform" method="post">
                                    <input type="hidden" asp-for="userid" name="userid" />
                                    <fieldset>
                                        <div class="form-group ">
                                            <span class="wt-select">
                                                <select asp-for="gender" name="Gender">
                                                    <option value="" disabled="">Select Gender</option>
                                                    <option value="Male">Male</option>
                                                    <option value="Female">Female</option>
                                                </select>
                                            </span>
                                        </div>
                                        <div class="form-group ">
                                            <input type="text" asp-for="name" name="Name" class="form-control" placeholder="Name">
                                        </div>
                                        <div class="form-group ">
                                            <input type="email" asp-for="email" name="email" class="form-control" placeholder="Email" readonly>
                                        </div>
                                        <div class="form-group form-group-half">
                                            <input type="text" asp-for="mobile" name="Mobile" class="form-control" readonly>
                                        </div>
                                        <div class="form-group form-group-half">
                                            <input type="text" asp-for="alternatemobile" name="AlternateMobile" class="form-control" placeholder="Alternate Mobile">
                                        </div>
                                        @if (User.IsServiceProvider())
                                        {
                                            <div class="form-group form-group-half">
                                                <input type="number" asp-for="rate" name="rate" class="form-control" placeholder="Your Service Hourly Rate (Rupees)">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" asp-for="headline" name="HeadLine" class="form-control" placeholder="Add Your Tagline Here">
                                            </div>
                                        }
                                        <div class="form-group">
                                            <textarea asp-for="about" name="about" class="form-control" placeholder="Description"></textarea>
                                        </div>

                                    </fieldset>
                                    <hr />
                                    @if (ViewData["Success"] != null)
                                    {
                                        <div class="alert alert-success">@ViewData["Success"]</div>
                                    }
                                    <button class="wt-btn">Save &amp; Profile</button>
                                </form>
                            </div>





                        </div>
                        @if (User.IsServiceProvider())
                        {
                            <div class="wt-educationholder tab-pane fade" id="wt-education">
                                <div class="wt-userexperience wt-tabsinfo">
                                    <div class="wt-tabscontenttitle wt-addnew">
                                        <h2>Add Your Experience</h2>

                                    </div>
                                    Select Multiple Services
                                    <ul class="list-group list-group-horizontal" v-for="a in Services">
                                        <li class="list-group list-group-heading">
                                            <h3>{{a.category_name}}</h3>
                                        </li>
                                        <li class="list-group list-group-item" v-for="a1 in a.services">
                                            <input type="checkbox" v-bind:value="a1.service_id" @@click="AddRmService(a1.service_id)" v-bind:checked="selected(a1.service_id)">
                                            {{a1.servicesubcategory}}

                                        </li>
                                    </ul>
                                    <div class="mt-1">

                                    </div>
                                    <button class="btn btn-success" @@click="saveData()">Complete</button>
                                </div>

                            </div>
                        }

                    </div>
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="wt-haslayout wt-dbsectionspace wt-codescansidebar">
                <div class="tg-authorcodescan wt-codescanholder">
                    <figure class="tg-qrcodeimg">
                        <img src="/theme1/images/qrcode.png" alt="img description">
                    </figure>
                    <div class="tg-qrcodedetail">
                        <span class="lnr lnr-laptop-phone"></span>
                        <div class="tg-qrcodefeat">
                            <h3>Scan with your <span>Smart Phone </span> To Get It Handy.</h3>
                        </div>
                    </div>
                    <div class="wt-codescanicons">
                        <span>Share Your Profile</span>
                        <ul class="wt-socialiconssimple">
                            <li class="wt-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook-f"></i></a></li>
                            <li class="wt-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                            <li class="wt-linkedin"><a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="wt-clone"><a href="javascript:void(0);"><i class="far fa-clone"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="wt-companyad">
                    <figure class="wt-companyadimg"><img src="/theme1/images/add-img.jpg" alt="img description"></figure>
                    <span>Advertisement  255px X 255px</span>
                </div>
            </div>
        </div>
    </div>
</section>





@section scripts {
    <style>
        select[multiple] {
            min-height: 400px;
        }
    </style>
    <script src="~/vue/vue.js"></script>
    <script src="~/axios/axios.min.js"></script>
    <script src="~/bootstrap-vue/bootstrap-vue.min.js" asp-add-nonce></script>
    <script src="~/bootstrap-vue/bootstrap-vue-icons.js" asp-add-nonce></script>
    <link href="~/bootstrap-vue/bootstrap-vue.css" rel="stylesheet" asp-add-content-to-csp csp-hash-type="SHA384" />
    <link href="~/bootstrap-vue/bootstrap-vue-icons.css" rel="stylesheet" asp-add-content-to-csp csp-hash-type="SHA384" />

    <script src="~/vue-bootstrap-typeahead/dist/VueBootstrapTypeahead.umd.js"></script>
    <link href="~/vue-bootstrap-typeahead/dist/VueBootstrapTypeahead.css" type="text/css" rel="stylesheet" />
    <script>
        var MD5 = function (d) { var r = M(V(Y(X(d), 8 * d.length))); return r.toLowerCase() }; function M(d) { for (var _, m = "0123456789ABCDEF", f = "", r = 0; r < d.length; r++)_ = d.charCodeAt(r), f += m.charAt(_ >>> 4 & 15) + m.charAt(15 & _); return f } function X(d) { for (var _ = Array(d.length >> 2), m = 0; m < _.length; m++)_[m] = 0; for (m = 0; m < 8 * d.length; m += 8)_[m >> 5] |= (255 & d.charCodeAt(m / 8)) << m % 32; return _ } function V(d) { for (var _ = "", m = 0; m < 32 * d.length; m += 8)_ += String.fromCharCode(d[m >> 5] >>> m % 32 & 255); return _ } function Y(d, _) { d[_ >> 5] |= 128 << _ % 32, d[14 + (_ + 64 >>> 9 << 4)] = _; for (var m = 1732584193, f = -271733879, r = -1732584194, i = 271733878, n = 0; n < d.length; n += 16) { var h = m, t = f, g = r, e = i; f = md5_ii(f = md5_ii(f = md5_ii(f = md5_ii(f = md5_hh(f = md5_hh(f = md5_hh(f = md5_hh(f = md5_gg(f = md5_gg(f = md5_gg(f = md5_gg(f = md5_ff(f = md5_ff(f = md5_ff(f = md5_ff(f, r = md5_ff(r, i = md5_ff(i, m = md5_ff(m, f, r, i, d[n + 0], 7, -680876936), f, r, d[n + 1], 12, -389564586), m, f, d[n + 2], 17, 606105819), i, m, d[n + 3], 22, -1044525330), r = md5_ff(r, i = md5_ff(i, m = md5_ff(m, f, r, i, d[n + 4], 7, -176418897), f, r, d[n + 5], 12, 1200080426), m, f, d[n + 6], 17, -1473231341), i, m, d[n + 7], 22, -45705983), r = md5_ff(r, i = md5_ff(i, m = md5_ff(m, f, r, i, d[n + 8], 7, 1770035416), f, r, d[n + 9], 12, -1958414417), m, f, d[n + 10], 17, -42063), i, m, d[n + 11], 22, -1990404162), r = md5_ff(r, i = md5_ff(i, m = md5_ff(m, f, r, i, d[n + 12], 7, 1804603682), f, r, d[n + 13], 12, -40341101), m, f, d[n + 14], 17, -1502002290), i, m, d[n + 15], 22, 1236535329), r = md5_gg(r, i = md5_gg(i, m = md5_gg(m, f, r, i, d[n + 1], 5, -165796510), f, r, d[n + 6], 9, -1069501632), m, f, d[n + 11], 14, 643717713), i, m, d[n + 0], 20, -373897302), r = md5_gg(r, i = md5_gg(i, m = md5_gg(m, f, r, i, d[n + 5], 5, -701558691), f, r, d[n + 10], 9, 38016083), m, f, d[n + 15], 14, -660478335), i, m, d[n + 4], 20, -405537848), r = md5_gg(r, i = md5_gg(i, m = md5_gg(m, f, r, i, d[n + 9], 5, 568446438), f, r, d[n + 14], 9, -1019803690), m, f, d[n + 3], 14, -187363961), i, m, d[n + 8], 20, 1163531501), r = md5_gg(r, i = md5_gg(i, m = md5_gg(m, f, r, i, d[n + 13], 5, -1444681467), f, r, d[n + 2], 9, -51403784), m, f, d[n + 7], 14, 1735328473), i, m, d[n + 12], 20, -1926607734), r = md5_hh(r, i = md5_hh(i, m = md5_hh(m, f, r, i, d[n + 5], 4, -378558), f, r, d[n + 8], 11, -2022574463), m, f, d[n + 11], 16, 1839030562), i, m, d[n + 14], 23, -35309556), r = md5_hh(r, i = md5_hh(i, m = md5_hh(m, f, r, i, d[n + 1], 4, -1530992060), f, r, d[n + 4], 11, 1272893353), m, f, d[n + 7], 16, -155497632), i, m, d[n + 10], 23, -1094730640), r = md5_hh(r, i = md5_hh(i, m = md5_hh(m, f, r, i, d[n + 13], 4, 681279174), f, r, d[n + 0], 11, -358537222), m, f, d[n + 3], 16, -722521979), i, m, d[n + 6], 23, 76029189), r = md5_hh(r, i = md5_hh(i, m = md5_hh(m, f, r, i, d[n + 9], 4, -640364487), f, r, d[n + 12], 11, -421815835), m, f, d[n + 15], 16, 530742520), i, m, d[n + 2], 23, -995338651), r = md5_ii(r, i = md5_ii(i, m = md5_ii(m, f, r, i, d[n + 0], 6, -198630844), f, r, d[n + 7], 10, 1126891415), m, f, d[n + 14], 15, -1416354905), i, m, d[n + 5], 21, -57434055), r = md5_ii(r, i = md5_ii(i, m = md5_ii(m, f, r, i, d[n + 12], 6, 1700485571), f, r, d[n + 3], 10, -1894986606), m, f, d[n + 10], 15, -1051523), i, m, d[n + 1], 21, -2054922799), r = md5_ii(r, i = md5_ii(i, m = md5_ii(m, f, r, i, d[n + 8], 6, 1873313359), f, r, d[n + 15], 10, -30611744), m, f, d[n + 6], 15, -1560198380), i, m, d[n + 13], 21, 1309151649), r = md5_ii(r, i = md5_ii(i, m = md5_ii(m, f, r, i, d[n + 4], 6, -145523070), f, r, d[n + 11], 10, -1120210379), m, f, d[n + 2], 15, 718787259), i, m, d[n + 9], 21, -343485551), m = safe_add(m, h), f = safe_add(f, t), r = safe_add(r, g), i = safe_add(i, e) } return Array(m, f, r, i) } function md5_cmn(d, _, m, f, r, i) { return safe_add(bit_rol(safe_add(safe_add(_, d), safe_add(f, i)), r), m) } function md5_ff(d, _, m, f, r, i, n) { return md5_cmn(_ & m | ~_ & f, d, _, r, i, n) } function md5_gg(d, _, m, f, r, i, n) { return md5_cmn(_ & f | m & ~f, d, _, r, i, n) } function md5_hh(d, _, m, f, r, i, n) { return md5_cmn(_ ^ m ^ f, d, _, r, i, n) } function md5_ii(d, _, m, f, r, i, n) { return md5_cmn(m ^ (_ | ~f), d, _, r, i, n) } function safe_add(d, _) { var m = (65535 & d) + (65535 & _); return (d >> 16) + (_ >> 16) + (m >> 16) << 16 | 65535 & m } function bit_rol(d, _) { return d << _ | d >>> 32 - _ }
    </script>
    <script>
        Vue.use(BootstrapVue);
        Vue.use(VueBootstrapTypeahead);
        Vue.component('vue-bootstrap-typeahead', VueBootstrapTypeahead)

        var app = new Vue({
            el: "#wt-education",
            data: {
                token: null,
                pdata: null,
                data: null,
                Services: [],
                selectedService: []
            },
            mounted() {
                
                axios.get("/api/services/AllServices").then(data => {
                    if (data.data.status == 0) {
                        this.Services = data.data.payload;
                    } else {
                        alert(data.data.message)
                    }
                });
                axios.get("/api/Provider/Services").then(data => {
                    if (data.data.status == 0) {
                        this.selectedService = data.data.payload.map(i => i.serviceId);
                    } else {
                        alert(data.data.message)
                    }
                });
            },
            computed: {
                isConsumer() {
                    return this.pdata.type == 0
                },
                isProvider() {
                    return this.pdata.type == 1
                }
            },
            methods: {
                AddRmService(id) {
                    if (this.selectedService.filter(i => i == id).length > 0) {
                        var index = this.selectedService.indexOf(Id);
                        if (index != -1) {
                            this.selectedService.splice(index, 1)
                        }
                    } else {
                        this.selectedService.push(id)
                    }
                },
                saveData() {
                    var data = JSON.parse(JSON.stringify(this.selectedService));
                    axios.post('/api/Provider/AddServices', data, { headers: { 'Authorization': this.token } }).then(data => {
                        alert(data.data)
                    })

                },
                selected(id) {
                    return this.selectedService.filter(i => i == id).length > 0;
                },
                loadData() {
                    if (this.isProvider) {

                    }
                    if (this.isConsumer) {

                    }
                    if (this.pdata.profile_complete == false) {

                    }
                },
                gravtar(email) {
                    return "https://www.gravatar.com/avatar/" + MD5(email)
                }

            },
            filters: {
                date: function (str) {
                    if (!str) { return '(n/a)'; }
                    str = new Date(str);
                    return ((str.getDate() < 10) ? '0' : '') + str.getDate() + '-' + ((str.getMonth() < 9) ? '0' : '') + (str.getMonth() + 1) + '-' + str.getFullYear()
                        ;
                }
            }

        })



    </script>
}

