@model app.Models.ViewModels.LoginViewModel

@{
    Layout = "_IndexV2Layout";
}


@section head{

    <div class="wt-haslayout wt-innerbannerholder">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
                    <div class="wt-innerbannercontent">
                        <div class="wt-title"><h2>Login</h2></div>
                        @*<ol class="wt-breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li class="wt-active bg-white">Professionals</li>
                        </ol>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

}


<div class="wt-haslayout wt-main-section">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-xs-12 col-sm-12 col-md-10 push-md-1 col-lg-8 push-lg-2">
                <div class="wt-registerformhold">
                    <div class="wt-registerformmain">
                        <div class="wt-registerhead">
                            <div class="wt-title">
                                <h3>Login</h3>
                            </div>
                            
                        </div>
                        <div class="wt-joinforms">
                            
                            <form class="wt-formtheme wt-formregister" method="post">
                                <fieldset class="wt-registerformgroup">
                                    @Html.ValidationSummary()
                                    <div class="form-group ">
                                        <input type="text" asp-for="UserName" name="UserName" class="form-control" placeholder="Username">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" asp-for="Password" name="password" class="form-control" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <button  class="wt-btn">Login</button>
                                    </div>
                                </fieldset>
                            </form>
                            @*<div class="wt-joinnowholder">
                                <div class="wt-title">
                                    <h4>Join Now With</h4>
                                </div>
                                <div class="wt-description">
                                    <p>Use a social account for faster login or easy registration to directly get in to your account and start a good business</p>
                                </div>
                                <ul class="wt-socialicons wt-iconwithtext">
                                    <li class="wt-facebook">
                                        <a href="javascript:void(0);"><i class="fa fa-facebook-f"></i><em>Facebook</em></a>
                                    </li>
                                    <li class="wt-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i><em>Twitter</em></a></li>
                                    <li class="wt-googleplus"><a href="javascript:void(0);"><i class="fab fa-google-plus-g"></i><em>Google</em></a></li>
                                    <li class="wt-instagram"><a href="javascript:void(0);"><i class="fab fa-instagram"></i><em>Instagram</em></a></li>
                                </ul>
                            </div>*@
                        </div>
                    </div>
                    <div class="wt-registerformfooter">
                        <span>Don't Have an Account? <a href="/Account/Register">Register Now</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



